{namespace sitemgr=Tx_Sitemgr_ViewHelper}

<f:be.security.ifAuthenticated>
	<f:then>
		<f:be.container
			pageTitle="Sitemgr"
			enableJumpToUrl="false"
			enableClickMenu="false"
			loadPrototype="false"
			loadExtJs="true"
			loadExtJsTheme="true"
			enableExtJsDebug="true"
			addCssFile="{f:uri.resource(path:'Stylesheets/BackendMod1/main.css')}"
			addJsFile="{f:uri.resource(path:'JavaScripts/BackendMod1/main.js')}">
				<!-- add some basic html -->
					<div class="typo3-fullDoc">
						<!-- Page header with buttons, path details and csh -->
						<div id="typo3-docheader">
							<div id="typo3-docheader-row1">
								<div class="buttonsleft">
								
								</div>
								<div class="buttonsright">
									<f:be.Buttons.Shortcut />
								</div>
							</div>
							<div id="typo3-docheader-row2">
								<div class="docheader-row2-left">
									<f:be.Buttons.Csh table="_MOD_tx_sitemgr_mod1" field="module"/>
								</div>
								<div class="docheader-row2-right">
									<f:be.pagePath />
								</strong></div>
							</div>
						</div>
					</div>
				<!-- include settings-->
					<sitemgr:Be.Doc.AddInlineSettingArray      namespace="sitemgr"  settings="{settings}" />
				<!-- include language files -->
					<sitemgr:Be.Doc.AddInlineLanguageLabelFile     file="EXT:sitemgr/Resources/Private/Language/locallang_mod1.xml"/>
				<!-- include hooked in be modules -->
					<f:for each="{modules}" as="module" key="moduleKey">
						<sitemgr:Be.Doc.AddInlineLanguageLabelFile file="{module.llFile}"/>
						<sitemgr:Be.Doc.AddCssFile                 file="{module.cssFile}"/>
						<sitemgr:Be.Doc.AddJsFile                  file="{module.jsFile}"/>
						<sitemgr:Be.Doc.AddInlineSettingArray      namespace="{module.name}"  settings="{module.settings}" />
					</f:for>
		</f:be.container>
	</f:then>
	<f:else>
		This is being displayed in case you do not have access.
	</f:else>
</f:be.security.ifAuthenticated>
